#ignore these files
*.class
.classpath
.project
.vscode/launch.json
allclasses-index.html
allclasses.html
allpackages-index.html
class-use/effPercentViewer.html
class-use/ModelObserver.html
class-use/TipCalUI.html
class-use/TipModel.html
class-use/tipRoundedViewer.html
constant-values.html
deprecated-list.html
effPercentViewer.html
element-list
help-doc.html
index-files/index-1.html
index-files/index-10.html
index-files/index-2.html
index-files/index-3.html
index-files/index-4.html
index-files/index-5.html
index-files/index-6.html
index-files/index-7.html
index-files/index-8.html
index-files/index-9.html
jquery/external/jquery/jquery.js
jquery/images/ui-bg_glass_55_fbf9ee_1x400.png
jquery/images/ui-bg_glass_65_dadada_1x400.png
jquery/images/ui-bg_glass_75_dadada_1x400.png
jquery/images/ui-bg_glass_75_e6e6e6_1x400.png
jquery/images/ui-bg_glass_95_fef1ec_1x400.png
jquery/images/ui-bg_highlight-soft_75_cccccc_1x100.png
jquery/images/ui-icons_222222_256x240.png
jquery/images/ui-icons_2e83ff_256x240.png
jquery/images/ui-icons_454545_256x240.png
jquery/images/ui-icons_888888_256x240.png
jquery/images/ui-icons_cd0a0a_256x240.png
jquery/jquery-3.3.1.js
jquery/jquery-migrate-3.0.1.js
jquery/jquery-ui.css
jquery/jquery-ui.js
jquery/jquery-ui.min.css
jquery/jquery-ui.min.js
jquery/jquery-ui.structure.css
jquery/jquery-ui.structure.min.css
jquery/jszip-utils/dist/jszip-utils-ie.js
jquery/jszip-utils/dist/jszip-utils-ie.min.js
jquery/jszip-utils/dist/jszip-utils.js
jquery/jszip-utils/dist/jszip-utils.min.js
jquery/jszip/dist/jszip.js
jquery/jszip/dist/jszip.min.js
member-search-index.js
member-search-index.zip
ModelObserver.html
overview-tree.html
package-search-index.js
package-search-index.zip
package-summary.html
package-tree.html
package-use.html
resources/glass.png
resources/x.png
script.js
search.js
stylesheet.css
TipCalUI.html
TipModel.html
tipRoundedViewer.html
type-search-index.js
type-search-index.zip
